img{
    width: 100px;
    height: 100px;
}

.swiper{
    padding: 50px;
}

.swiper-pagination-bullet{
    background-color: #22a14c;


}

.swiper-custom-pagination{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 40px;
}


.swiper-button-next , .swiper-button-prev{
    color: #22a14c;
    background-color: #d6f9e2;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.swiper-button-prev:after, .swiper-button-next:after{
    font-size: 20px;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
    left:0%;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev{
    right: 0%;
}

.category{
    display: flex;
    flex-direction: column;
    align-items: center;
}